.pictureFrame_content {
  display: flex;
  flex-direction: column;
}

.pictureFrame_description {
  text-align: center;
  font-size: .4em;
  font-weight: bold;
}

.pictureFrames {
  transition: 1s;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pictureFrame {
  border: none;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  background-color: white;

  box-shadow: 5px 8px 15px 5px rgba(0, 0, 0, 0.30);

  animation: animatePicture 1s ease forwards;

  .pictureFrame_image {
    padding: 0;
    margin: 0;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 25px 45px -20px;
    cursor: pointer;
  }

}

@media all and (max-width: 800px) {
  .pictureFrame {
    .pictureFrame_content {
      font-size: 120%;
    }
  }
}

@keyframes animatePicture {
  0% {
    opacity: 0;
    transform: translate(-3%, -3%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}