.footer {
  background-color: #ebebf0;
  padding: 0;
  margin-top: 130px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;

  .band {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .signature {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: .4em;
    padding: 2px;

    p {
      text-align: center
    }
  }

  .part {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 10px;

    .instagram {
      font-size: .8em;
    }
  }

  img {
    width: 30px;
    vertical-align: middle;
  }

  h1, h2, h3, h4, h5 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

@media all and (max-width: 1000px) {
  .footer {
    .band {
      padding: 10px;

      .part {
        width: 100%;
        text-align: center;
      }
    }
  }
}
